<%= form_for @comment, :as => :comment,:method => :put, :url => forum_post_comment_path(@post.forum, @post, @comment) do |f| %>
  	<div class="row">
  		<div class="col-md-4">
				Comment: <%= f.text_area :body, style: 'width:100%;'%>
  		</div>
  		<div class="col-md-2">
				<%=f.submit "Edit" %>
  		</div>
  	</div>
		
	<% end %>